 /* body {
     height: 100%;
     background-color: rgb(155, 143, 143);
 } */
 
 .izq {
     height: 30%;
     width: 35%;
     background-color: rgb(121, 161, 201);
     margin: 1% 1%;
     float: left;
     border-width: 3px;
     border-style: dashed;
 }
 
 .der {
     height: 50%;
     width: 35%;
     background-color: rgb(121, 161, 201);
     margin: 1% 1%;
     float: right;
     padding-right: 20px;
     padding-left: 20px;
 }
 
 .table_titles {
     padding-right: 20px;
     padding-left: 20px;
     color: #000;
 }
 
 .table_titles {
     color: #FFF;
     background-color: #0000FF;
 }
 
 table {
     border: 2px solid #333;
 }
 
 body {
     font-family: "Trebuchet MS", Courier;
 }